@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100&display=swap');
/* *{
  overflow:''
} */


body {
  margin: 0;
  padding:0;
  overflow-x: hidden;
  font-family: "Poppins";
}
#root {
  margin: 0;
  padding:0;
  overflow: hidden;
  font-family: "Poppins";
}
.box {
  /* Required properties */
  position: relative;
  background: white;
  border-radius: 300PX;
  /* Use  your own styles here */
  margin: 30px;
  width: 300px;
  height: 300px;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #371F97 0%, #1976d2 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(50px);
  opacity: 0.8 ;
  animation: rotation 8s infinite linear;
  z-index: 1;


}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Loading */
.center{
  display:flex;
  text-align: center;
  justify-content:center;
  align-items: center;
   position:absolute;
  top: 100px;
  right:180px;

}

.ring{
  position: absolute;
  width:200px;
  height:200px;
  border-radius: 50%;
  animation:ring 2s linear infinite
}


@keyframes ring{
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #0400ff;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #ff3d00
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0400ff;
  }
}

.ring:before{
  position:absolute;
  content:'';
  left:0;
  top:0;
  height: 100%;
  width:100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}

.loading{
  color: #737373;
  font-family: 'Poppins', cursive;
  font-size:  20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;

  animation: text 3s linear infinite
}

@keyframes text {
  50%{
    color:#131315;
  }
}

/* My Work section */
.card{
  position:relative;
  width:300px;
  /* height:380px; */
  height:190px;
  background:#fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px black;
  margin-bottom: 100px;
  transition: 0.5s;

}


.card:hover
{
 cursor: pointer;
}

.imgBx{
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height:150px;
  background:#fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  object-fit: contain;
}




.card:hover .imgBx
{
  width: 50px;
  height:50px;
  border-radius: 5px;
  cursor:pointer
}



.imgBx img{
  position:absolute;
  top:0;
  height: 0;
  width:100%;
  height: 100%;
  object-fit: cover;
}


.card .content .details{
  position:absolute;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  transform: translateY(145px);
}
.stack-section{
  overflow: hidden;
}
.stack{
  position:absolute;
   margin-top: -100px;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  transform: translateY(255px);
}
/* .card:hover .stack{
  transform: translateY(200px);
} */
.card:hover .content .details, .card:hover .card{

  transform: translateY(-85px);
  cursor: pointer;
  height: 200px;

}

.card .content .details h2{
  font-size: 1rem;
  font-weight: 600;
  color: #181818;
  line-height: 1.2rem;


}

.card .content .details h2 span{
  font-size: 0.9rem;
  font-weight: 500;
  color: #131315;
  opacity: 0.9;
}



.card .content{
  position: absolute;
  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1px;
  overflow: hidden;

}
.description{

  height:150px;
  margin-top: 45px;
}

.description h3{
  text-align: justify;

  font-size: 0.9rem;
  font-weight: 500;
  color: #131315;
  opacity: 0.9;
  padding: 15px;
}

.css-1ekofx8-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: rgba(255,255,255,0.1)!important;
}

.css-1636szt,
.css-1636szt {
  color:rgba(255,255,255,0.5)!important
}

.css-1fxidf9-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline, .css-1gyvls5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline, .css-1bym9d6-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #371F97 !important;
}

.css-igs3ac, .css-1h2fbek.Mui-focused .MuiOutlinedInput-notchedOutline, .css-1naj8am.Mui-focused .MuiOutlinedInput-notchedOutline, .css-1naj8am.Mui-focused .MuiOutlinedInput-notchedOutline, .css-1azwe2k.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #371F97 !important;
}

.css-1fxidf9-MuiInputBase-root-MuiOutlinedInput-root, .css-1azwe2k{
  padding:0 !important;
}

/* ##### Responsive #####*/
/* extra small */
@media screen and (min-width:0px){
  canvas{
    width:353px !important;
    height:216px !important;
  }
  .box{
    width:150px;
    height:150px;
  }
  .displayLoading{
    top: -70px
  }

  .video iframe {
    width: 320px;
    height:200px;
  }

}
/* small */
@media screen and (min-width:600px){
  canvas{
    width:453px !important;
    height:316px !important;
  }
  .box{
    width:150px;
    height:150px;
  }

  .displayLoading{
    top: -70px
  }

   .video iframe {
    width: 500px;
    height:250px;
  }
}
/* medium */
@media screen and (min-width:900px){
  canvas{
    width:533px !important;
    height:397px !important;
  }
  .box{
    width:225px;
    height:225px;
    margin-left: 0px;
  }

  .displayLoading{
    top: -30px
  }

  .video iframe {
    width: 580px;
    height:330px;
  }
}

/* large */

@media screen and (min-width:1200px){
  canvas{
    width:700px !important;
    height:564px !important;
  }
  .box {
    width:310px;
    height:310px;
    margin-left: 20px;
  }

  .displayLoading{
    top: 5px
  }


}

/* Contact */

.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root{
  background-color: #262626;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline, .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
border-color: rgba(255, 255, 255, 0.7) !important;
}











